$ms-white: #fdfffc;
$ms-black: #262d37;

// Colors
$green: rgb(30, 215, 96);
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7;

//For light  Theme
$app: #f3f6fd;
$star: #ff1c2e;

// For dark theme
$star: #ffd92c;

$color1: #426fc5;
$color5: #9381ff;
$color2: #f6a597;
$color3: #d1266d;
$color4: #e94043;

//For dark

$d1: #23262b;
$d2: #982f5b;
$d3: #1d262c;
$d4: #21262d;

//for white
$w1: #fefeff;
$w2: #fafaff;
$w3: #f4f0ed;
$w4: #fce6ff;
